#!/usr/bin/make -f

export INSTALL_PREFIX=/usr

export DPKG_EXPORT_BUILDFLAGS=1
export DEB_BUILD_HARDENING=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/buildflags.mk
export CFLAGS+=$(CPPFLAGS)

%:
	dh $@
